@import "../variables";

.dogCard {
    height: 22rem;
    width: 15.5rem;
    border: 2px solid $primaryBlue;
    margin: auto;
    margin-bottom: 1rem;
    background-color: white;
    color: black;
    &__figure{
        height: 12.5rem;
        width: 15.5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 200px;
        }
    }
    &__info {

        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        &__nameage{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0;
        }
        &__sexbreed{

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0;
        }
        &__owner {
            margin: 0;
        }
    }
}